extends layout
exten

block content
    h1 Cadastro de Produto
    if error
        p.erro #{error}
    form(action="/cadastro-produtos" method="post" class="pure-form pure-form-aligned")
        fieldset 
            div(class="pure-control-group")
                label(for="nomeProduto") Nome do Produto:
                input(type="text" id="nomeProduto" name="nomeProduto" required id="aligned-name")
            div(class="pure-control-group")
                label(for="descricao") Descrição:
                textarea(id="descricao" name="descricao" required)
            div(class="pure-control-group")
                label(for="preco") Preço:
                input(type="number" step="0.01" id="preco" name="preco" required)
            div(class="pure-control-group")
                button(type="submit") Cadastrar Produto